* {
	margin: 0px;
	padding: 0px;
	font-family: Roboto;
	box-sizing: border-box;
}
html,
body {
	font-size: 16px;
	height: 100%;
	width: 100%;
	background: #e5e5e5;
}

#sidebar {
	position: fixed;
	width: 200px;
	height: 100%;
	background: #1e5f74;
	transition: all 500ms linear;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
	left: 0px;
	overflow: hidden;
}
#sidebar.active {
	width: 50px;
	background: #1e5f74;
}
.toggle-roll {
	position: relative;
	padding-top: 20px;
	padding-left: 15px;
	width: 100%;
	margin-bottom: 20px;
	display: flex;
}
#roll-number {
	position: relative;
	margin-left: 5px;
	color: white;
	text-align: right;
	display: inline-block;
}
.sidebar-content {
	position: relative;
	left: 0;
	width: 100%;
}
.sidebar-content a {
	position: relative;
	color: white;
	width: 100%;
	display: flex;
	padding-left: 5px;
	height: 60px;
	padding-top: 20px;
	padding-bottom: 10px;
	text-decoration: none;
}

.sidebar-content a:hover {
	background-color: #133b5c;
}
.sidebar-content > li {
	position: relative;
	color: white;
	list-style: none;
	margin-bottom: 10px;
	width: 100%;
	display: flex;
	flex-direction: row;
	/* 15 pixel from top and bottom */
	/* 10 pixel from left and right*/
	border-bottom: 0px solid #133b5c;
}
.sidebar-content .icon {
	position: relative;
	padding-left: 10px;
	min-width: 50px;
	display: inline-block;
	margin: 0px;
}
.sidebar-content-text {
	position: relative;
	text-align: center;
	margin-left: 20px;
	display: inline-block;
}
.toggle-btn {
	display: inline-block;
	margin-right: 30px;
	cursor: pointer;
	position: relative;
	z-index: 2;
	width: 15%;
	height: 4%;
}

.toggle-btn > .toggle-btn-span {
	display: block;
	width: 25px;
	height: 5px;
	background: white;
	margin: 3px 0px;
	border: 0.5px solid #1e5f74;
	border-radius: 100px;
}

.toggle-btn > .toggle-btn-span-short {
	display: block;
	width: 15px;
	height: 5px;
	background: white;
	margin: 3px 0px;
	border: 0.5px solid #1e5f74;
	border-radius: 40px;
}
.container {
	position: fixed;
	height: 100%;
	width: 100%;
	left: 200px;
}
.container-child {
	position: absolute;
	height: 65%;
	width: 75%;
	left: 80px;
	top: 160px;
	background: #ffffff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container > h1 {
	position: absolute;
	top: 55px;
	left: 50px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 56px;
}
.paragraph {
	position: relative;
	top: 25px;
	left: 40px;
}
.projects {
	position: relative;
	left: 70px;
	top: 40px;
}
.child-container {
	position: absolute;
	height: 70%;
	width: 75%;
	left: 80px;
	top: 160px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.container-child-top {
	flex-grow: 2;
	background: white;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.container-child-bottom {
	flex-grow: 8;
	margin-top: 65px;
	background: white;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.search {
	position: relative;
	float: left;
	left: 10px;
	top: 30%;
	padding: 6px;
	margin-right: 16px;
	font-size: 18px;
}
input {
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
}
.search-button {
	background-color: white;
	border: 0px;
	cursor: pointer;
}
.from,
.to {
	position: relative;
	margin-left: 55px;
	top: 41%;
	padding: 6px;
	font-size: 15px;
}

.table {
	margin: 2% 4.5%;
	width: 90%;
	border-collapse: collapse;
}
th {
	color: #1e5f74;
	padding-bottom: 25px;
	text-align: left;
}
td {
	text-align: left;
	padding-top: 0.5em;
	padding-bottom: 1em;
}
.container-child-bottom span > input {
	width: 7%;
}
#meetingName {
	margin-left: 120px;
}
#no_of_people_attending {
	margin-left: 120px;
	width: 4%;
}
#date {
	margin-left: 200px;
	width: 10.5%;
}
#startTime {
	margin-left: 14px;
}
#endTime {
	margin-left: 44px;
}
#add {
	float: right;
	margin-right: 130px;
	border-radius: 5px;
	width: 3.3%;
	background: #1e5f74;
	color: white;
	cursor: pointer;
}
.add-div {
	position: absolute;
	bottom: 30px;
	width: 100%;
}
.fa-trash {
	color: #ca2c2c;
	cursor: pointer;
}
